@import url('https://cdn-uicons.flaticon.com/2.5.1/uicons-brands/css/uicons-brands.css');
@import url('https://cdn-uicons.flaticon.com/2.5.1/uicons-bold-rounded/css/uicons-bold-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.5.1/uicons-solid-rounded/css/uicons-solid-rounded.css'); 
@import url('https://cdn-uicons.flaticon.com/2.5.1/uicons-solid-straight/css/uicons-solid-straight.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-gradient: linear-gradient(90deg, #f17211,  #b10eca);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.font-tc {
  font-family: 'Noto Serif TC', serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-azonix {
  font-family: 'Azonix', sans-serif;
}

.font-josefin {
  font-family: 'Josefin Sans', sans-serif;
}

.animation-swipe-from-bottom {
  animation: swipe-from-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes swipe-from-bottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animation-fade-in {
  animation: fade-in 3s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.mask-image-gradient {
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}


.nav-link::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0;
  height: 3px;
  background: var(--primary-gradient);
  transition: width 300ms ease, left 300ms ease;
}

.nav-link:hover::before {
  width: 100%;
  left: 0;
}

.nav-selected {
  background-image: var(--primary-gradient);
  font-weight: bold;
  background-clip: text;
  color: transparent;
  background-size: 100% 5px;
}

.planet-bg {
  background-image: url('/images/login-bg.jpg');
  background-size: cover;
  background-position: center;
}

.display-animation {
  animation: display 2s ease-in-out;
}

@keyframes display {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@layer components {
  .btn-stylized {
    @apply p-3 px-10 rounded-3xl bg-transparent text-gray-100 border-2 border-gray-100
      bg-gradient-to-r from-transparent to-transparent font-medium hover:border-base-300
      hover:from-orange-400 hover:via-pink-500 hover:to-violet-700 
      bg-[length:170%_100%] bg-left hover:bg-right hover:text-white 
      transition-all duration-500 ease-in-out;
  }
}
